@import "./reset.css";
@import "./themes.css";
@import "./general.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Roboto", "Calibri", "Arial", sans-serif;
  --mono-font: "Source Code Pro", Monaco, "Bitstream Vera Sans Mono", "Lucida Console",
  Terminal, monospace;

  --laptop: url("../../img/themes/oceanic.png");
  --logo: url("../../../img/logo/material-oceanic.svg");

  --header-size: 64px;
  --header-size-condensed: 56px;
  --from-full-to-noslogan: 935px;
  --from-noslogan-to-icon: 640px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family), serif;
  font-size: 15px;
  font-weight: 300;
}

body {
  font-family: var(--font-family), serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;

  margin-top: var(--header-size, 0px);
  min-height: 100vh;
  transition: 0.3s all ease-in-out;

  @media all and (max-width: var(--from-noslogan-to-icon)) {
    margin-top: var(--header-size-condensed);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  padding: 10px 0;
}

h1 {
  font-size: 4.2rem;
  font-weight: 300;
  line-height: 4.62rem;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  font-weight: 300;
  line-height: 3.916rem;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  font-weight: 300;
  line-height: 3.212rem;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  font-weight: 300;
  line-height: 2.508rem;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  font-weight: 300;
  line-height: 1.804rem;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1rem;
  margin: 0.5rem 0 0.4rem 0;
}

a {
  transition: 0.3s all;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

img {
  height: auto;
  max-width: 100%;
}

iframe {
  width: 100%;
}

code,
kbd,
pre {
  font-family: var(--mono-font), monospace;
}

p + * {
  margin-top: 1em;
}

input,
textarea {
  box-sizing: border-box;
  padding: 9px 13px;
  position: relative;
  transition: 0.3s all ease;
}

cite {
  font-size: 1em;
  font-style: italic;
}

address,
var {
  font-style: italic;
}

pre {
  box-sizing: border-box;
  margin: 10px 0;
  overflow-x: auto;
  padding: 10px;
  width: 100%;
}

q {
  display: inline;

  &::before {
    content: "“";
  }

  &::after {
    content: "”";
  }
}

blockquote {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-size: 1.1em;
  margin: 15px 0 0 10px;
  padding: 10px 20px;
  width: calc(100% - 10px);
}

dl {
  text-align: left;
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  & dt {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    min-width: 130px;
    padding: 3px 0;
    width: 20%;

    &::after {
      content: ":";
    }

    &:last-of-type {
      border-bottom: 0 solid transparent;
    }
  }

  & dd {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 130px);
    padding: 3px 0;
    width: 80%;

    &:last-of-type {
      border-bottom: 0 solid transparent;
    }
  }
}

code {
  border-radius: 4px;
  font-size: smaller;
  padding: 2px 4px;
  font-family: var(--mono-font), monospace;

  .highlight & {
    background: none;
    border: 0;
    border-radius: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  & a {
    font-weight: inherit;
  }
}