---
import Banner from '../components/Banner.astro';
import Features from '../components/Features.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Portings from '../components/Portings.astro';
import Sponsors from '../components/Sponsors.astro';
import ThemeChooser from '../components/ThemeChooser.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Material Theme UI"
  description="The Material Theme plugin is a plugin for JetBrains IDEs which completely redesigns the UI with a beautiful and configurable Material Design UI."
>
  <Banner slot="banner" />

  <Header slot="header" />

  <div class="w-full">
    <div class="p-[20px] rounded-[2px] box-border mb-[20px] relative">
      <!-- Theme Chooser and Preview -->
      <ThemeChooser />

      <!-- Features -->
      <Features />

      <hr class="border-hl" />

      <Portings />

      <Sponsors />
    </div>
  </div>

  <Footer slot="footer" />
</BaseLayout>