---
import { currentTheme } from '../themes';

const { foreground, notif } = currentTheme;
---

<div class="carbonads">
  <script
    is:inline
    async
    type="text/javascript"
    src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=materialthemecom"
    id="_carbonads_js"></script>
</div>

<style define:vars={{ foreground, notif }}>
  :global(#carbonads) {
    background-color: var(--notif);
    font-size: small;
    line-height: 1.4;
    max-width: 330px;
    min-height: 126px;
    padding: 1em 1em 1em 160px;
    text-align: left;
  }

  :global(.carbon-img) {
    float: left;
    margin-left: -150px;
    margin-right: 1em;
  }

  :global(.carbon-poweredby) {
    display: block;
    font-size: smaller;
    padding: 3em 0 0;
  }

  :global(.carbon-text),
  :global(.sponsored) {
    color: var(--foreground);
  }
</style>