---
// Footer component - displays the site footer
// This replaces the Jekyll include footer.html

const currentYear = new Date().getFullYear();
const copyrightYears = `2015-${currentYear}`;
---

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Material Theme UI</h5>
        <p class="grey-text text-lighten-4">
          The Material Theme plugin is a plugin for JetBrains IDEs which completely redesigns
          the UI with a beautiful and configurable Material Design UI.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://plugins.jetbrains.com/plugin/8006-material-theme-ui" target="_blank">JetBrains Plugin Repository</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/mallowigi/material-theme-issues" target="_blank">GitHub</a></li>
          <li><a class="grey-text text-lighten-3" href="/docs/faq-troubleshooting">FAQ/Troubleshooting</a></li>
          <li><a class="grey-text text-lighten-3" href="/docs/what-s-new">What's New</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {copyrightYears} <a href="https://github.com/mallowigi" target="_blank">Elior Boukhobza (Mallowigi)</a>
      <a class="grey-text text-lighten-4 right" href="https://www.jetbrains.com" target="_blank">JetBrains</a>
    </div>
  </div>
</footer>
