---
import CarbonAds from './CarbonAds.astro';
import Nav from './Nav.astro';
---

<div class="header transition-all duration-1000 left-0 relative top-0 w-full z-20">
  <div class="box-border left-0 overflow-hidden relative text-center top-0 w-full pt-[30px] pb-[20px] pr-[10px] pl-0 sm:pt-[20px]">
    <div class="block transition duration-300 ease-in-out">
      <!-- Logo -->
      <div class="logo-img my-4 mx-auto w-[224px] h-[224px]"></div>

      <!-- Text and Caption -->
      <div>
        <h1 class="title transition-all duration-300 text-[3em] font-light uppercase max-sm:text-[2em] max-sm:m-0">Material Theme UI</h1>
        <h2 class="caption transition-all duration-300 text-[2em] font-light leading-normal max-sm:text-[1.5em] max-sm:m-0">
          Material Design experience for JetBrains IDEs
        </h2>
      </div>

      <!-- Description -->
      <div>
        <h2
          class="description transition-all duration-300 text-[1.5em] font-light leading-normal max-w-[65%] m-auto max-sm:text-[1em] max-sm:m-0 max-sm:max-w-full"
        >
          Material Theme UI is a plugin for JetBrains IDE (IntelliJ IDEA, WebStorm, Android Studio and so on) that changes the original
          appearance to a Material Design look and feel.
        </h2>
      </div>

      <div class="my-4 mx-0">
        <CarbonAds />

        <a href="/docs/introduction">
          <button class="btn text-xl h-16 leading-8 px-8 py-4"> Get Started</button>
        </a>
      </div>
    </div>
  </div>

  <!-- Navbar -->
  <Nav />
</div>

<style>
  .header {
    background-color: var(--background);
    color: var(--foreground);
  }

  .title,
  .description {
    color: var(--foreground);
    fill: var(--foreground);
  }

  .caption {
    color: var(--accent);
    fill: var(--accent);
  }

  .logo-img {
    background-image: var(--logo), url('../../img/logo/material-oceanic.svg');
  }
</style>