---

---

<section class="section">
  <h4 id="other-portings" class="section-title">Other Editions</h4>

  <p>The Material Theme is so famous that it exists for many other IDEs, editors, applications, css themes and so on.</p>

  <ul class="mt-2 mx-0 mb-4 rounded-[2px] overflow-hidden relative list-none p-0">
    <li class="collection-item">
      <a href="https://github.com/equinusocio/hyper-material-theme">Hyper</a> (by <a href="https://github.com/equinusocio">@equinusocio</a>)
    </li>
    <li class="collection-item">
      <a href="https://github.com/silvestreh/atom-material-ui">Atom</a> (by <a href="https://github.com/silvestreh">@silvestreh</a>)
    </li>
    <li class="collection-item">
      <a href="https://github.com/kristijanhusak/vim-hybrid-material">Vim</a> (by <a href="https://github.com/kristijanhusak"
        >@kristijanhusak</a
      >).
    </li>
    <li class="collection-item">
      <a href="https://gist.github.com/mvaneijgen/4c56701215847dd5ddcf">Terminal OSX</a>
      (by <a href="https://github.com/mvaneijgen">@mvaneijgen</a>).
    </li>
    <li class="collection-item">
      <a href="https://gist.github.com/Revod/3f3115f8d4b90fc986fd4b61441c2567">iTerm2</a>
      (by <a href="https://github.com/Revod">@Revod</a>) and <a href="https://github.com/JonathanSpeek/palenight-iterm2">iTerm2 Palenight</a
      > (by <a href="https://github.com/jonathanspeek">@jonathanspeek</a>).
    </li>
    <li class="collection-item">
      <a href="https://gist.github.com/rajadain/b306b2ba71bd58a1df41">ConEmu</a> (by <a href="https://github.com/rajadain">@rajadain</a>).
    </li>
    <li class="collection-item">
      <a href="https://github.com/jackiehluo/n1-material">Nylas N1</a> (thanks to <a href="https://github.com/jackiehluo">@jackiehluo</a>)
    </li>
    <li class="collection-item">
      <a href="https://github.com/ntpeters/base16-materialtheme-scheme">Base16</a> (by <a href="https://github.com/ntpeters">@ntpeters</a>)
    </li>
    <li class="collection-item">
      <a href="https://github.com/Codextor/npp-material-theme">Notepad++</a> (by <a href="https://github.com/Codextor">@Codextor</a>)
    </li>
    <li class="collection-item">
      <a href="https://chrome.google.com/webstore/detail/material-devtools-theme-c/jmefikbdhgocdjeejjnnepgnfkkbpgjo">Chrome DevTools</a> (by
      <a href="https://github.com/mallowigi">@Mallowigi</a> and <a href="https://github.com/jaysuz">@jaysuz</a>)
    </li>
    <li class="collection-item">
      <a href="https://www.npmjs.com/package/@mallowigi/slack-themes">Slack Themes</a> (by <a href="https://github.com/mallowigi"
        >@Mallowigi</a
      >)
    </li>
  </ul>
</section>

<style>
  .collection-item {
    @apply leading-[1.5rem] px-[20px] py-[10px] m-0;
  }
</style>