---

---

<section class="section">
  <h2 class="section-title">Sponsors</h2>

  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <a href="https://opencollective.com/atom-material-themes-and-plugins/sponsor/0/website" target="_blank"
      ><img src="https://opencollective.com/atom-material-themes-and-plugins/sponsor/0/avatar.svg" /></a
    >
    <a href="https://opencollective.com/atom-material-themes-and-plugins/sponsor/1/website" target="_blank"
      ><img src="https://opencollective.com/atom-material-themes-and-plugins/sponsor/1/avatar.svg" /></a
    >
    <a href="https://opencollective.com/atom-material-themes-and-plugins/sponsor/2/website" target="_blank"
      ><img src="https://opencollective.com/atom-material-themes-and-plugins/sponsor/2/avatar.svg" /></a
    >
    <a href="https://opencollective.com/atom-material-themes-and-plugins/sponsor/3/website" target="_blank"
      ><img src="https://opencollective.com/atom-material-themes-and-plugins/sponsor/3/avatar.svg" /></a
    >
    <a href="https://opencollective.com/atom-material-themes-and-plugins/sponsor/4/website" target="_blank"
      ><img src="https://opencollective.com/atom-material-themes-and-plugins/sponsor/4/avatar.svg" /></a
    >
    <a href="https://opencollective.com/atom-material-themes-and-plugins/sponsor/5/website" target="_blank"
      ><img src="https://opencollective.com/atom-material-themes-and-plugins/sponsor/5/avatar.svg" /></a
    >
    <a href="https://opencollective.com/atom-material-themes-and-plugins/sponsor/6/website" target="_blank"
      ><img src="https://opencollective.com/atom-material-themes-and-plugins/sponsor/6/avatar.svg" /></a
    >
    <a href="https://opencollective.com/atom-material-themes-and-plugins/sponsor/7/website" target="_blank"
      ><img src="https://opencollective.com/atom-material-themes-and-plugins/sponsor/7/avatar.svg" /></a
    >
    <a href="https://opencollective.com/atom-material-themes-and-plugins/sponsor/8/website" target="_blank"
      ><img src="https://opencollective.com/atom-material-themes-and-plugins/sponsor/8/avatar.svg" /></a
    >
    <a href="https://opencollective.com/atom-material-themes-and-plugins/sponsor/9/website" target="_blank"
      ><img src="https://opencollective.com/atom-material-themes-and-plugins/sponsor/9/avatar.svg" /></a
    >
  </div>
</section>