---
import { type Theme, themes } from '../themes';
import { Laptop } from './Laptop.tsx';
import { ThemeButton } from './ThemeButton.tsx';
---

<section class="section">
  <!-- Theme Chooser -->
  <div class="theme-chooser">
    <h3 class="section-title">Available Themes</h3>

    <div class="theme-chooser-options">
      {themes.material.map((theme: Theme) => <ThemeButton theme={theme} client:load />)}
    </div>

    <div class="theme-chooser-options">
      {themes.material2.map((theme: Theme) => <ThemeButton theme={theme} client:load />)}
    </div>
  </div>

  <!-- Screen -->
  <div>
    <Laptop client:only="preact" client:load />
  </div>

  <div class="theme-chooser">
    <h3 class="section-title">Check out the other themes:</h3>

    <div class="theme-chooser-options">
      {themes.other.map((theme: Theme) => <ThemeButton theme={theme} client:load />)}
    </div>

    <div class="theme-chooser-options">
      {themes.other2.map((theme: Theme) => <ThemeButton theme={theme} client:load />)}
    </div>
  </div>
</section>

<style>
  .theme-chooser {
    @apply my-[1em] mx-0 max-sm:hidden;
  }

  .theme-chooser-options {
    @apply flex flex-row justify-around;
  }
</style>