---
// Base layout for all pages
import '../styles/global.css';
import Head from '../components/Head.astro';
import Scripts from '../components/Scripts.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <!--suppress HtmlRequiredTitleElement -->
  <head>
    <Head title={title} description={description} />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <!-- Optional head -->
    <slot name="head" />
  </head>

  <body id="index" class="bg-background text-foreground transition-all duration-1000 theme-oceanic">
    <slot name="banner" />

    <slot name="header" />

    <div class="main p-50 w-full sm:p-0">
      <slot />
    </div>

    <slot name="footer" />

    <!-- Scripts -->
    <slot name="scripts" />

    <Scripts />
  </body>
</html>