---
import '../styles/global.css';
import Head from '../components/Head.astro';
import Scripts from '../components/Scripts.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <!--suppress HtmlRequiredTitleElement -->
  <head>
    <Head title={title} description={description} />

    <!-- Optional head -->
    <slot name="head" />
  </head>

  <body id="index" class=`transition-all duration-1000 theme-oceanic`>
    <slot name="banner" />

    <slot name="header" />

    <div class="main p-50 w-full max-sm:p-0 transition-all duration-1000">
      <div class="content">
        <slot />
      </div>
    </div>

    <slot name="footer" />

    <!-- Scripts -->
    <slot name="scripts" />

    <Scripts />
  </body>
</html>

<style is:global>
  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  pre {
    background-color: var(--second);
    color: var(--foreground);
    border-color: var(--border);
  }

  a {
    color: var(--accent);

    &:hover {
      color: var(--accent);
    }
  }

  input,
  textarea {
    border-color: var(--border);

    &:focus {
      border-color: var(--accent);
    }
  }

  blockquote {
    background-color: var(--second);
    border-color: var(--border);
    color: var(--foreground);
  }

  .muted {
    color: var(--foreground);
  }

  table tbody tr:nth-child(odd),
  .card-panel,
  .card {
    background-color: var(--contrast);
    color: var(--foreground);
  }

  .card-panel.warn {
    background-color: var(--accent);
    color: var(--selectFg);
  }

  .card-panel.error {
    color: var(--selectFg);
  }

  .card-panel a {
    color: var(--accent);
  }

  .github-ribbon {
    color: var(--selectFg);
    fill: var(--accent);
  }

  .btn {
    background-color: var(--accent);
    color: var(--selectFg);

    &:hover {
      background-color: var(--accent);
      color: var(--selectFg);
    }
  }
</style>

<script is:inline>
  const currentTheme = localStorage.getItem('material-theme') || 'oceanic';
  document.body.classList.remove(`theme-${currentTheme}`);
  document.body.classList.add(`theme-${currentTheme}`);
</script>