---
// Base layout for all pages
import '../styles/global.css';
import Head from '../components/Head.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <!--suppress HtmlRequiredTitleElement -->
  <head>
    <Head title={title} description={description} />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <!-- Optional head -->
    <slot name="head" />
  </head>

  <body class="documentation theme-oceanic">
    <slot name="banner" />

    <header class="header">
      <slot name="header" />
    </header>

    <div class="main">
      <slot />
    </div>

    <footer>
      <slot name="footer" />
    </footer>

    <!-- Scripts -->
    <slot name="scripts" />
  </body>
</html>